@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Foto Robo</h1>
    <p class="lead">Vai gerar muitas fotos marotas na page</p>
    <p><a href="@ViewBag.UrlFb" class="btn btn-primary btn-large" >Login Facebook</a></p>
    <p><a href="/home/PublicarFotos" class="btn btn-primary btn-large">Postar Fotos</a></p>
</div>